#container{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#container>input{
    margin: 10px;
}
button{
    background-color: skyblue;
    border:1px solid skyblue;
    font-weight: 500;
    align-items: center;
}
#parent {
    text-align: center;
    margin-top: 50px;
  
  }

#parent ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid skyblue;
    width: 150px;
  }