.App {
  text-align: center;
}

.register,.login , .createnote{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 7px;
}
input, button{
  padding: 7px;
  border: 1px solid skyblue;
  font-weight: 700;

}
button{
  background-color: skyblue;
  font-weight: 700;

}
.note-list{
  text-align: center;
  margin-top: 50px;
}
.note-list ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid skyblue;
  width: 150px;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}